* {
  margin: 0;
  padding: 0;
}
.App{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 248, 255);
}

.heading{
  margin-bottom: 80px;
  text-decoration: underline;
}
.card{
  padding: 40px;
  display: flex;
  flex-direction: row;
  background-color: rgb(14, 14, 66);
  border: 0;
  border-radius: 10px;
  width: 45.5vw;
  box-shadow: 10px 10px 40px rgb(36, 36, 163) , -10px -10px 40px rgb(36, 36, 163)  ;
}

.quesNumber{
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
  margin-bottom: 3vh;
}
small{
  font-size: 1.3rem;
}
.question{
  width: 20vw;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-right: 3vw;
}
.answer{
  width: 20vw;
  padding: 10px;
  background-color: rgb(14, 14, 66);
  font-weight: bolder;
  margin: 1vh 0;
  border: 8px solid rgb(120, 120, 166);
  border-radius: 20px;
  color: white;
  font-size: 1.1rem;
  text-align: center;
}

.answer:hover{
  cursor: pointer;
  background-color: rgb(58, 58, 130);
}

.scoreShow{
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}

.scoreBox{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 0 13vw;
}

.playAgain-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(111, 0, 114);
  padding: 8px 12px;
  font-weight: bolder;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 0.2rem red;
}
.playAgain-button:hover{
  background-color: rgb(167, 0, 172);
  cursor: pointer;
}

.playAgain-button:active{
  transform: translateY(2px);
  box-shadow: 0 2px 0.2rem red;
}

.playAgain-button span{
  margin-right: 5px;
}